@import "tailwindcss";
@keyframes gradientFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background: linear-gradient(135deg, #8EC5FC, #6EB5D0, #4A90E2, #3269A5);
  background-size: 400% 400%;
  animation: gradientFlow 10s ease infinite;
}